<div align="center"><h1>Model Preparation Notebook</h1></div>

This notebook contains the sequential steps to create the model from the raw dataset.

In this notebook the following steps will be 

        1. Importing the required libraries.
        2. Downloading the data
        3. Loading the data
        4. Data Visualization
        5. Preprocessing & EDA
        6. Prepare trainable data
        7. Create Model
        8. Load it into .pkl file


Follow the steps.

# 1. Importing Libraries :

In [ ]:
from google_drive_downloader import GoogleDriveDownloader as gdd
import pandas as pd

# 2. Downloading the data :

In [ ]:

"""
Data Link : https://drive.google.com/file/d/1whUKZ-BB4-VKEanDRVteti5mawjnux5o/view?usp=sharing

We'll take the id section and download the dataset

"""

gdd.download_file_from_google_drive(file_id='1whUKZ-BB4-VKEanDRVteti5mawjnux5o',
                                    dest_path='assets/spotify.csv')

# 3. Loading the Data :

In [ ]:
df = pd.read_csv('assets/spotify.csv')

df.head()

   acousticness                    artists  ...  valence  year
0      0.991000            ['Mamie Smith']  ...   0.6340  1920
1      0.643000  ["Screamin' Jay Hawkins"]  ...   0.9500  1920
2      0.993000            ['Mamie Smith']  ...   0.6890  1920
3      0.000173        ['Oscar Velazquez']  ...   0.0422  1920
4      0.295000                   ['Mixe']  ...   0.2990  1920

[5 rows x 19 columns]

# 4. Data Visualization:

In [ ]:
df.columns

Index(['acousticness', 'artists', 'danceability', 'duration_ms', 'energy',
       'explicit', 'id', 'instrumentalness', 'key', 'liveness', 'loudness',
       'mode', 'name', 'popularity', 'release_date', 'speechiness', 'tempo',
       'valence', 'year'],
      dtype='object')

### The most important task is to preprocess the data and get the intuition of each features so that we can perform the preprocessing.


AcousticNess : Ratio of lyrics and music

Danceability : Level of ease to dance with the song

duration : total time

Energy : Loudness

Explicit : Child prohibited

instrumentalness : instrumental 

Key : keys of music

Liveness : Fresh songs

Loudness : Volume

popularity : Likes fom people

release date : date of publish

speechiness : Level of present of lyrics in music

tempo : speed of the song

valence : positivity in music

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174389 entries, 0 to 174388
Data columns (total 19 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   acousticness      174389 non-null  float64
 1   artists           174389 non-null  object
 2   danceability      174389 non-null  float64
 3   duration_ms       174389 non-null  int64
 4   energy            174389 non-null  float64
 5   explicit          174389 non-null  int64
 6   id                174389 non-null  object
 7   instrumentalness  174389 non-null  float64
 8   key               174389 non-null  int64
 9   liveness          174389 non-null  float64
 10  loudness          174389 non-null  float64
 11  mode              174389 non-null  int64
 12  name              174389 non-null  object
 13  popularity        174389 non-null  int64
 14  release_date      174389 non-null  object
 15  speechiness       174389 non-null  float64
 16  tempo             174389 non-null  float64
 17  valence           174389 non-null  float64
 18  year              174389 non-null  int64
dtypes: float64(9), int64(6), object(4)
memory usage: 25.3+ MB

In [ ]:
df.describe()

        acousticness   danceability  ...        valence           year
count  174389.000000  174389.000000  ...  174389.000000  174389.000000
mean        0.499228       0.536758  ...       0.524533    1977.061764
std         0.379936       0.176025  ...       0.264477      26.907950
min         0.000000       0.000000  ...       0.000000    1920.000000
25%         0.087700       0.414000  ...       0.311000    1955.000000
50%         0.517000       0.548000  ...       0.536000    1977.000000
75%         0.895000       0.669000  ...       0.743000    1999.000000
max         0.996000       0.988000  ...       1.000000    2021.000000

[8 rows x 15 columns]

# 5. Preprocessing & EDA:

In [ ]:
# Check duplicate rows except first occurrence based on all columns
duplicateRowsDF = df[df.duplicated()]
duplicateRowsDF.head()

       acousticness  ...  year
9525         0.5670  ...  1968
9534         0.0271  ...  1968
16113        0.9740  ...  2021
16663        0.3550  ...  1978
16669        0.2020  ...  1971

[5 rows x 19 columns]

In [ ]:
#drop column 'id'
df.drop(['id'],axis=1,inplace=True)

In [ ]:
#here we can see  2159 duplicate values for all columns

#dropping duplicate rows
df.drop_duplicates(keep=False,inplace=True)

In [ ]:
df.head()

   acousticness                    artists  ...  valence  year
0      0.991000            ['Mamie Smith']  ...   0.6340  1920
1      0.643000  ["Screamin' Jay Hawkins"]  ...   0.9500  1920
2      0.993000            ['Mamie Smith']  ...   0.6890  1920
3      0.000173        ['Oscar Velazquez']  ...   0.0422  1920
4      0.295000                   ['Mixe']  ...   0.2990  1920

[5 rows x 18 columns]

In [ ]:
df.nunique()

acousticness          4906
artists              35426
danceability          1230
duration_ms          55268
energy                2288
explicit                 2
instrumentalness      5400
key                     12
liveness              1740
loudness             25447
mode                     2
name                135031
popularity              98
release_date         11006
speechiness           1632
tempo                83692
valence               1707
year                   102
dtype: int64

In [ ]:
# Check duplicate rows except first occurrence based on all columns
duplicateRowsDF_name = df[df['name'].duplicated()]
duplicateRowsDF_name

        acousticness  ...  year
133            0.700  ...  1920
222            0.993  ...  1921
236            0.982  ...  1921
265            0.988  ...  1921
284            0.994  ...  1921
...              ...  ...   ...
174355         0.498  ...  2021
174359         0.598  ...  2021
174371         0.995  ...  2021
174375         0.988  ...  2021
174387         0.920  ...  2021

[33615 rows x 18 columns]

In [ ]:
#we can see here duplicate data in names
#here we can see  2159 duplicate values for all columns

#dropping duplicate rows
df.drop_duplicates(subset=['name'],keep=False,inplace=True)

In [ ]:
# Check duplicate rows except first occurrence based on all columns
duplicateRowsDF_name = df[df['name'].duplicated()]
duplicateRowsDF_name

Empty DataFrame
Columns: [acousticness, artists, danceability, duration_ms, energy, explicit, instrumentalness, key, liveness, loudness, mode, name, popularity, speechiness, tempo, valence, year]
Index: []

In [ ]:
#here we can see all the data has categorical relation
for column in df.columns:
  print(df[column].value_counts())

0.995000    3022
0.994000    2275
0.993000    1735
0.992000    1469
0.991000    1292
            ...
0.000980       1
0.000003       1
0.000069       1
0.000051       1
0.000006       1
Name: acousticness, Length: 4906, dtype: int64
['Tadeusz Dolega Mostowicz']                                1281
['Эрнест Хемингуэй']                                        1175
['Эрих Мария Ремарк']                                       1062
['Francisco Canaro']                                         951
['Ignacio Corsini']                                          624
                                                            ...
['Mobb Deep', 'Ghostface Killah', 'Raekwon', 'Big Noyd']       1
['Ave Sangria']                                                1
['Gorillaz', 'Mark E. Smith']                                  1
['Michelino e il suo complesso']                               1
['Ae Jirakorn']                                                1
Name: artists, Length: 35426, dtype: int64
0.5650    428
0.5450    409
0.6120    409
0.5460    402
0.5780    395
         ...
0.0862      1
0.0586      1
0.0938      1
0.0551      1
0.0946      1
Name: danceability, Length: 1230, dtype: int64
192000    53
180000    52
175000    49
186000    49
170000    46
          ..
155138     1
101880     1
341487     1
273868     1
305173     1
Name: duration_ms, Length: 55268, dtype: int64
0.19500    262
0.20100    261
0.23000    255
0.24500    254
0.25400    252
          ...
0.00375      1
0.00400      1
0.00871      1
0.00502      1
0.00564      1
Name: energy, Length: 2288, dtype: int64
0    157146
1     11500
Name: explicit, dtype: int64
0.000000    42672
0.917000      225
0.916000      222
0.905000      219
0.911000      216
            ...
0.000908        2
0.000006        2
0.066300        1
0.000008        1
0.000857        1
Name: instrumentalness, Length: 5400, dtype: int64
0     21268
7     20715
2     18273
9     17520
5     16092
1     13051
4     12870
10    12017
11    10589
8     10338
6      8830
3      7083
Name: key, dtype: int64
0.1110    1733
0.1100    1605
0.1090    1583
0.1080    1544
0.1070    1498
          ...
0.0162       1
0.9990       1
0.0119       1
1.0000       1
0.0206       1
Name: liveness, Length: 1740, dtype: int64
-3.304     35
-7.578     33
-5.702     29
-8.705     28
-8.986     28
           ..
-24.315     1
-24.006     1
-27.272     1
-26.736     1
-40.147     1
Name: loudness, Length: 25447, dtype: int64
1    118834
0     49812
Name: mode, dtype: int64
White Christmas                                 103
Winter Wonderland                                88
Silent Night                                     81
Jingle Bells                                     71
2000 Years                                       60
                                               ...
Anything Like You (FYHYM2020) - Daxson Remix      1
Cactus - Remastered                               1
Chapter 17.5 - Kariera Nikodema Dyzmy             1
Falling Out                                       1
Kapitel 259 - Der Page und die Herzogin           1
Name: name, Length: 135031, dtype: int64
0      37020
1       3628
33      2790
34      2780
36      2769
       ...
94         5
93         2
96         2
95         2
100        1
Name: popularity, Length: 98, dtype: int64
1945          1223
1949          1189
1935          1105
1926          1059
1950          1006
              ...
1980-08-18       1
1982-03-10       1
1967-08-24       1
2008-11-09       1
1992-09-02       1
Name: release_date, Length: 11006, dtype: int64
0.0330    560
0.0337    559
0.0347    557
0.0363    555
0.0334    553
         ...
0.7220      1
0.5520      1
0.9710      1
0.6440      1
0.6830      1
Name: speechiness, Length: 1632, dtype: int64
0.000      119
128.003     53
128.000     40
127.991     36
130.007     34
          ...
140.446      1
176.836      1
80.387       1
121.769      1
190.545      1
Name: tempo, Length: 83692, dtype: int64
0.9610    712
0.9620    589
0.9630    506
0.9640    454
0.9650    384
         ...
0.0265      1
0.0225      1
0.0199      1
0.0205      1
0.0271      1
Name: valence, Length: 1707, dtype: int64
2020    3123
2018    2481
2013    2236
2016    2185
2019    2153
        ...
1925     279
1924     236
1923     185
1921     156
1922     121
Name: year, Length: 102, dtype: int64

In [ ]:
#here 'release date' can't as categorical data.. its same as the year
#drop column 'release date'
df.drop(['release_date'],axis=1,inplace=True)

In [ ]:
#change data types for categorical features

df = df.astype('category')
df.dtypes

acousticness        category
artists             category
danceability        category
duration_ms         category
energy              category
explicit            category
instrumentalness    category
key                 category
liveness            category
loudness            category
mode                category
name                category
popularity          category
speechiness         category
tempo               category
valence             category
year                category
dtype: object

In [ ]:
df.describe()

        acousticness                       artists  ...     valence    year
count     168646.000                        168646  ...  168646.000  168646
unique      4906.000                         35426  ...    1707.000     102
top            0.995  ['Tadeusz Dolega Mostowicz']  ...       0.961    2020
freq        3022.000                          1281  ...     712.000    3123

[4 rows x 17 columns]

In [ ]:
df.head()

  acousticness                    artists danceability  ...    tempo valence  year
0     0.991000            ['Mamie Smith']        0.598  ...  149.976  0.6340  1920
1     0.643000  ["Screamin' Jay Hawkins"]        0.852  ...   86.889  0.9500  1920
2     0.993000            ['Mamie Smith']        0.647  ...   97.600  0.6890  1920
3     0.000173        ['Oscar Velazquez']        0.730  ...  127.997  0.0422  1920
4     0.295000                   ['Mixe']        0.704  ...  122.076  0.2990  1920

[5 rows x 17 columns]

In [41]:
df.shape

(117842, 17)

# 6. Prepare trainable data:

# 7. Create Model :

# 8. Load it into `.pkl` file :