<div align="center"><h1>Model Preparation Notebook</h1></div>

This notebook contains the sequential steps to create the model from the raw dataset.

In this notebook the following steps will be 

        1. Importing the required libraries.
        2. Downloading the data
        3. Loading the data
        4. Data Visualization
        5. Preprocessing & EDA
        6. Prepare trainable data
        7. Create Model
        8. Load it into .pkl file


Follow the steps.

# 1. Importing Libraries :

In [1]:
from google_drive_downloader import GoogleDriveDownloader as gdd
import pandas as pd

# 2. Downloading the data :

In [2]:

"""
Data Link : https://drive.google.com/file/d/1whUKZ-BB4-VKEanDRVteti5mawjnux5o/view?usp=sharing

We'll take the id section and download the dataset

"""

gdd.download_file_from_google_drive(file_id='1whUKZ-BB4-VKEanDRVteti5mawjnux5o',
                                    dest_path='assets/spotify.csv')

Downloading 1whUKZ-BB4-VKEanDRVteti5mawjnux5o into assets/spotify.csv... Done.

# 3. Loading the Data :

In [3]:
df = pd.read_csv('assets/spotify.csv')

df.head()

   acousticness                    artists  ...  valence  year
0      0.991000            ['Mamie Smith']  ...   0.6340  1920
1      0.643000  ["Screamin' Jay Hawkins"]  ...   0.9500  1920
2      0.993000            ['Mamie Smith']  ...   0.6890  1920
3      0.000173        ['Oscar Velazquez']  ...   0.0422  1920
4      0.295000                   ['Mixe']  ...   0.2990  1920

[5 rows x 19 columns]

# 4. Data Visualization:

In [4]:
df.columns

Index(['acousticness', 'artists', 'danceability', 'duration_ms', 'energy',
       'explicit', 'id', 'instrumentalness', 'key', 'liveness', 'loudness',
       'mode', 'name', 'popularity', 'release_date', 'speechiness', 'tempo',
       'valence', 'year'],
      dtype='object')

### The most important task is to preprocess the data and get the intuition of each features so that we can perform the preprocessing.


AcousticNess : Ratio of lyrics and music

Danceability : Level of ease to dance with the song

duration : total time

Energy : Loudness

Explicit : Child prohibited

instrumentalness : instrumental 

Key : keys of music

Liveness : Fresh songs

Loudness : Volume

popularity : Likes fom people

release date : date of publish

speechiness : Level of present of lyrics in music

tempo : speed of the song

valence : positivity in music

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174389 entries, 0 to 174388
Data columns (total 19 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   acousticness      174389 non-null  float64
 1   artists           174389 non-null  object
 2   danceability      174389 non-null  float64
 3   duration_ms       174389 non-null  int64
 4   energy            174389 non-null  float64
 5   explicit          174389 non-null  int64
 6   id                174389 non-null  object
 7   instrumentalness  174389 non-null  float64
 8   key               174389 non-null  int64
 9   liveness          174389 non-null  float64
 10  loudness          174389 non-null  float64
 11  mode              174389 non-null  int64
 12  name              174389 non-null  object
 13  popularity        174389 non-null  int64
 14  release_date      174389 non-null  object
 15  speechiness       174389 non-null  float64
 16  tempo             174389 non-null  float64
 17  valence           174389 non-null  float64
 18  year              174389 non-null  int64
dtypes: float64(9), int64(6), object(4)
memory usage: 25.3+ MB

In [6]:
df.describe()

        acousticness   danceability  ...        valence           year
count  174389.000000  174389.000000  ...  174389.000000  174389.000000
mean        0.499228       0.536758  ...       0.524533    1977.061764
std         0.379936       0.176025  ...       0.264477      26.907950
min         0.000000       0.000000  ...       0.000000    1920.000000
25%         0.087700       0.414000  ...       0.311000    1955.000000
50%         0.517000       0.548000  ...       0.536000    1977.000000
75%         0.895000       0.669000  ...       0.743000    1999.000000
max         0.996000       0.988000  ...       1.000000    2021.000000

[8 rows x 15 columns]

# 5. Preprocessing & EDA:

In [7]:
# Check duplicate rows except first occurrence based on all columns
duplicateRowsDF = df[df.duplicated()]
duplicateRowsDF.head()

       acousticness  ...  year
9525         0.5670  ...  1968
9534         0.0271  ...  1968
16113        0.9740  ...  2021
16663        0.3550  ...  1978
16669        0.2020  ...  1971

[5 rows x 19 columns]

In [8]:
#drop column 'id'
df.drop(['id'],axis=1,inplace=True)

In [9]:
#here we can see  2159 duplicate values for all columns

#dropping duplicate rows
df.drop_duplicates(keep=False,inplace=True)

In [10]:
df.head()

   acousticness                    artists  ...  valence  year
0      0.991000            ['Mamie Smith']  ...   0.6340  1920
1      0.643000  ["Screamin' Jay Hawkins"]  ...   0.9500  1920
2      0.993000            ['Mamie Smith']  ...   0.6890  1920
3      0.000173        ['Oscar Velazquez']  ...   0.0422  1920
4      0.295000                   ['Mixe']  ...   0.2990  1920

[5 rows x 18 columns]

In [12]:
df.nunique()

acousticness          4906
artists              35426
danceability          1230
duration_ms          55268
energy                2288
explicit                 2
instrumentalness      5400
key                     12
liveness              1740
loudness             25447
mode                     2
name                135031
popularity              98
release_date         11006
speechiness           1632
tempo                83692
valence               1707
year                   102
dtype: int64

In [13]:
# Check duplicate rows except first occurrence based on all columns
duplicateRowsDF_name = df[df['name'].duplicated()]
duplicateRowsDF_name

        acousticness  ...  year
133            0.700  ...  1920
222            0.993  ...  1921
236            0.982  ...  1921
265            0.988  ...  1921
284            0.994  ...  1921
...              ...  ...   ...
174355         0.498  ...  2021
174359         0.598  ...  2021
174371         0.995  ...  2021
174375         0.988  ...  2021
174387         0.920  ...  2021

[33615 rows x 18 columns]

In [14]:
#we can see here duplicate data in names
#here we can see  2159 duplicate values for all columns

#dropping duplicate rows
df.drop_duplicates(subset=['name'],keep=False,inplace=True)

In [15]:
# Check duplicate rows except first occurrence based on all columns
duplicateRowsDF_name = df[df['name'].duplicated()]
duplicateRowsDF_name

Empty DataFrame
Columns: [acousticness, artists, danceability, duration_ms, energy, explicit, instrumentalness, key, liveness, loudness, mode, name, popularity, release_date, speechiness, tempo, valence, year]
Index: []

In [16]:
#here we can see all the data has categorical relation
for column in df.columns:
  print(df[column].value_counts())

0.995000    2423
0.994000    1816
0.993000    1346
0.992000    1144
0.991000     995
            ...
0.000088       1
0.000003       1
0.000030       1
0.000062       1
0.000843       1
Name: acousticness, Length: 4807, dtype: int64
['Tadeusz Dolega Mostowicz']                         1281
['Эрнест Хемингуэй']                                 1175
['Эрих Мария Ремарк']                                1062
['Francisco Canaro']                                  841
['Georgette Heyer', 'Irina Salkow']                   378
                                                     ...
['Jascha Heifetz', 'Jack Benny', 'Emanuel Bay']         1
['Gabriel Slick']                                       1
['Maratone', 'Roxanne Emery', 'Mhammed El Alami']       1
['Josh Abbott Band', 'Pat Green']                       1
['Diana Ross', 'Marvin Gaye']                           1
Name: artists, Length: 30490, dtype: int64
0.7210    297
0.5650    295
0.7100    294
0.6310    280
0.7120    278
         ...
0.0638      1
0.0939      1
0.0832      1
0.9770      1
0.0590      1
Name: danceability, Length: 1203, dtype: int64
175000    39
180000    38
192000    36
170000    35
190000    34
          ..
154414     1
174896     1
172849     1
166708     1
815960     1
Name: duration_ms, Length: 48163, dtype: int64
0.19500    200
0.24500    188
0.21900    188
0.25400    184
0.18500    183
          ...
0.00767      1
0.00358      1
0.00416      1
0.00969      1
0.00863      1
Name: energy, Length: 2192, dtype: int64
0    108603
1      9239
Name: explicit, dtype: int64
0.000000    29940
0.916000      173
0.917000      163
0.905000      159
0.904000      154
            ...
0.009780        1
0.093500        1
0.000008        1
0.000010        1
0.000010        1
Name: instrumentalness, Length: 5394, dtype: int64
0     14471
7     14401
2     12928
9     12364
5     10775
1      9416
4      9069
10     8277
11     7743
8      7023
6      6543
3      4832
Name: key, dtype: int64
0.1110    1188
0.1090    1078
0.1100    1074
0.1080    1060
0.1070    1008
          ...
0.0197       1
0.9990       1
0.0201       1
0.0101       1
0.0142       1
Name: liveness, Length: 1727, dtype: int64
-7.930     22
-6.784     21
-6.942     21
-11.150    20
-8.684     20
           ..
-35.690     1
-25.603     1
-23.793     1
-32.461     1
-15.098     1
Name: loudness, Length: 24161, dtype: int64
1    82306
0    35536
Name: mode, dtype: int64
Mal de Amores - Remasterizado                           1
Fight Till You Die                                      1
Wanted You (feat. Lil Uzi Vert)                         1
Song Book: The Man I Love. Slow and in singing style    1
Mi Ultimo Dia                                           1
                                                       ..
Pharaon - Breakdown Mix                                 1
Rehab (Winter In Paris)                                 1
Aaj Phir Jeene Ki Tamanna Hai                           1
Shake Me                                                1
So Much Like My Dad                                     1
Name: name, Length: 117842, dtype: int64
0      31218
1       2863
36      1894
33      1882
34      1874
       ...
94         5
91         4
93         2
96         2
100        1
Name: popularity, Length: 97, dtype: int64
1945          1011
1935           995
1926           851
1950           821
1949           801
              ...
1996-09-02       1
2017-08-22       1
2019-08-13       1
1995-12-19       1
1969-03-04       1
Name: release_date, Length: 9781, dtype: int64
0.0337    373
0.0363    365
0.0362    361
0.0348    356
0.0333    353
         ...
0.6500      1
0.8130      1
0.7360      1
0.0224      1
0.6270      1
Name: speechiness, Length: 1629, dtype: int64
0.000      85
128.000    35
127.999    26
130.017    24
127.991    24
           ..
67.947      1
172.126     1
66.643      1
77.924      1
77.061      1
Name: tempo, Length: 69560, dtype: int64
0.961000    501
0.962000    415
0.963000    351
0.964000    324
0.960000    271
           ...
0.000064      1
0.083100      1
0.018800      1
0.008120      1
0.002280      1
Name: valence, Length: 1690, dtype: int64
2020    2361
2018    1941
1936    1770
2013    1724
1950    1651
        ...
1925     171
1924     169
1921     115
1922     110
1923     108
Name: year, Length: 102, dtype: int64

In [17]:
#here 'release date'  same as the year
#drop column 'release date'
df.drop(['release_date'],axis=1,inplace=True)

In [18]:
df.describe()

        acousticness   danceability  ...        valence           year
count  117842.000000  117842.000000  ...  117842.000000  117842.000000
mean        0.501678       0.537716  ...       0.529467    1975.646671
std         0.382145       0.177186  ...       0.263907      27.273584
min         0.000000       0.000000  ...       0.000000    1920.000000
25%         0.086800       0.414000  ...       0.320000    1952.000000
50%         0.519000       0.550000  ...       0.543000    1976.000000
75%         0.904000       0.672000  ...       0.747000    1998.000000
max         0.996000       0.988000  ...       1.000000    2021.000000

[8 rows x 15 columns]

In [19]:
df.head()

   acousticness                            artists  ...  valence  year
0      0.991000                    ['Mamie Smith']  ...   0.6340  1920
2      0.993000                    ['Mamie Smith']  ...   0.6890  1920
3      0.000173                ['Oscar Velazquez']  ...   0.0422  1920
4      0.295000                           ['Mixe']  ...   0.2990  1920
5      0.996000  ['Mamie Smith & Her Jazz Hounds']  ...   0.4770  1920

[5 rows x 17 columns]

In [20]:
df.shape

(117842, 17)

# 6. Prepare trainable data:

# 7. Create Model :

# 8. Load it into `.pkl` file :